# JetBrains IDEs
.idea/
*.iml
*.ipr
*.iws
.idea_modules/


# Visual Studio Code
.vscode/
*.code-workspace


# Compiled code or build artifacts
node_modules/
dist/
build/

# Temporary files or logs
*.log
*.tmp
*.swp

# Environment-specific files
.env
.env.local

# Dependency management files
yarn.lock
package-lock.json
Pipfile.lock

# Personal editor settings
.DS_Store
